# Ignora archivos del sistema Mac
.DS_store
.env

# Carpeta de Trabajo
/TRABAJO
/04_Extra/ID/IMAGES
/04_Extra/ID/IMAGES_PREPROC
/04_Extra/ID/IMAGES_PREPROC2
/04_Extra/ID



#Ignora secrets.toml de la carpeta ERV
/05_Streamlit/secrets.toml
/05_Streamlit/.env
